html,body {
    height: 100vh;
}

.app-container {
    /* width: 100%; */
    width: 100%;
    height: 100%;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

.editor-container {
    float: left;
    width: 50%;
    height: 100%;
    border: 1px;
    border-color: red;
    border-style: solid;
}

.form-console-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-container {
    height: 70%;
    border: 1px;
    border-color: black;
    border-style: solid;
    overflow: auto;
}

.sole-form-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.console-container {
    height: 30%;
    border: 1px;
    border-color: black;
    border-style: solid;
}

/* Justification */
.clickable {
    font-weight: bold;
    color: blueviolet;
    cursor: pointer;
}

.clickable:hover {
    color: palevioletred;
}

.justification_container {
    /* margin: 1em; */
    margin-left: 0.5em;
}

.individual_justification_container {
    border: 1px solid black;
    padding: 0.2em;
    white-space: pre-line;
}

.justification-value {
    color: grey;
    font-size: 0.9em;
    font-weight: normal;
}

.justification-literal {
    color: green;
    font-style: italic;
}

.justification-question {
    color: red;
    font-style: italic;
}

.justification-title {
    color:darkblue;
    font-style: italic;
}

/* Form */
.form-container {
    
}

.individual {
    border: 1px;
    border-style: solid;
    color: black;
    padding: 0.5em;
    margin: 0.5em;
}

.individual input {
    padding: 0.3em;
    margin-bottom: 0.3em;
}

.individual button {
    padding: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin: 0;
    font-size: 0.9em;
}

.success {
    background-color: #2ec4b6;
}

.failure {
    background-color: pink;
}

.invalid {
    background-color: gray;
}

.submit {
    margin: 0.5em;
}

#form {
    /* Center the div element */
    width: calc(100% - 2em);
    margin: 1em;
}