.clickable {
    font-weight: bold;
    color: blueviolet;
    cursor: pointer;
}

.justification_container {
    /* margin: 1em; */
    margin-left: 0.5em;
}

.individual_justification_container {
    border: 1px solid black;
    padding: 0.2em;
    white-space: pre-line;
}

.justification-value {
    color: grey;
    font-size: 0.7em;
    font-weight: normal;
}

.form-container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.individual {
    border: 1px;
    border-style: solid;
    color: black;
    padding: 1em;
    margin: 1em;
}

.success {
    background-color: #2ec4b6;
}

.failure {
    background-color: pink;
}

.invalid {
    background-color: gray;
}

.submit {
    margin: 0.5em;
}